@font-face {
    font-family: NotoSansKR-Regular;
    src: url("/fonts/NotoSansKR-Regular.ttf");
    font-weight: bold;
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: url("/fonts/NotoSansKR-Bold.ttf");
    font-weight: bold;
}

